@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DotGothic16", sans-serif;
  text-align: center;
}

img {
  display: block;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #eef3f1;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #56326d;
}

body::-webkit-scrollbar-thumb:hover {
  background: #a474c6;
}
